In [ ]:
import pandas as pd

customers = pd.read_csv("customer.csv")
subscriptions = pd.read_csv("subscriptions.csv")
usage = pd.read_csv("usage.csv")
financials = pd.read_csv("financials.csv")

In [ ]:
df = customers.merge(subscriptions, on="customer_id") \
              .merge(usage, on="customer_id") \
              .merge(financials, on="customer_id")

In [ ]:
df.head()

,customer_id,country,industry,signup_date,company_size,plan,monthly_price,status,logins,invoices_created,support_tickets,revenue,cost,profit
0,C00000,Germany,Tech,2022-07-27,Small,Pro,120,Active,37,76,8,120,38,82
1,C00001,Canada,Healthcare,2022-07-29,Small,Enterprise,120,Active,89,65,9,120,78,42
2,C00002,UK,Education,2023-05-28,Large,Pro,50,Active,35,2,3,50,25,25
3,C00003,Canada,Healthcare,2022-12-26,Medium,Pro,50,Churned,19,11,4,50,23,27
4,C00004,Canada,Healthcare,2023-07-31,Small,Basic,50,Active,28,76,8,50,56,-6

In [ ]:

df.shape

(10000, 14)

In [ ]:

df.isnull().sum()

customer_id         0
country             0
industry            0
signup_date         0
company_size        0
plan                0
monthly_price       0
status              0
logins              0
invoices_created    0
support_tickets     0
revenue             0
cost                0
profit              0
dtype: int64

In [ ]:
df['status'].value_counts(normalize=True) * 100    #Churn %

status
Active     74.66
Churned    25.34
Name: proportion, dtype: float64

In [ ]:
df.groupby('plan')['revenue'].sum()  #Revenue by plan

plan
Basic         205990
Enterprise    209510
Pro           220110
Name: revenue, dtype: int64

In [ ]:
df.groupby('country')['profit'].sum().sort_values(ascending=False)   #Profit by country

country
Germany    45338
USA        45057
UK         43501
India      42326
Canada     39362
Name: profit, dtype: int64

In [ ]:
avg_logins = df['logins'].mean()

high_risk = df[
    (df['status'] == 'Active') &
    (df['logins'] < avg_logins) &
    (df['support_tickets'] > 5)
]

In [ ]:
high_risk.head()

,customer_id,country,industry,signup_date,company_size,plan,monthly_price,status,logins,invoices_created,support_tickets,revenue,cost,profit
0,C00000,Germany,Tech,2022-07-27,Small,Pro,120,Active,37,76,8,120,38,82
4,C00004,Canada,Healthcare,2023-07-31,Small,Basic,50,Active,28,76,8,50,56,-6
22,C00022,Germany,Retail,2023-07-08,Small,Pro,120,Active,25,167,7,120,64,56
28,C00028,Germany,Education,2024-05-16,Large,Basic,50,Active,31,37,9,50,79,-29
30,C00030,UK,Education,2022-07-17,Large,Enterprise,50,Active,2,96,6,50,51,-1

In [ ]:
high_risk.shape[0]

1459

In [ ]:
high_risk[['customer_id','plan','country','logins','support_tickets']].head()

   customer_id        plan  country  logins  support_tickets
0       C00000         Pro  Germany      37                8
4       C00004       Basic   Canada      28                8
22      C00022         Pro  Germany      25                7
28      C00028       Basic  Germany      31                9
30      C00030  Enterprise       UK       2                6

In [ ]:

df["status"].value_counts(normalize=True) * 100

status
Active     74.66
Churned    25.34
Name: proportion, dtype: float64

In [ ]:
df.groupby('plan')['profit'].sum().sort_values(ascending=False)

plan
Pro           75597
Enterprise    70399
Basic         69588
Name: profit, dtype: int64